.header {
  &__toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --background: #fff;
  }

  &__title {
    padding: 10px;
    background: var(--ion-color-primary);
  }

  &__back {
    position: absolute;
    top: 15px;
    width: 30px;
    height: 30px;
  }

  &__logo {
    display: flex;
    height: 40px;
    margin: 0 auto;
  }
}

.event-details {
  &__card, &__header {
    border-radius: 0;
  }

  &__title {
    margin: 5px 0 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }

  &__inner {
    padding: 5px;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin: 0 20px 10px 0;
    color: #000;
  }

  &__fav {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0;
  }

  &__favicon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
  }

  &__thumb {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  &__caption {
    margin: 14px 0 0;
    font-family: "Khand", serif;
    font-size: 15px;
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    color: var(--ion-text-color);
  }

  &__map {
    width: 100%;
    height: 240px;
    margin-top: 5px;
  }
}
