<ion-header no-border class="header">
  <ion-toolbar class="header__toolbar">
    <ion-title class="header__title">
      <ion-back-button defaultHref="/" class="header__back"></ion-back-button>
      <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="event-details">
  <ion-card class="event-details__header" no-margin>
    <ion-card-content class="event-details__inner">
      <ion-grid>
        <ion-row text-center>
          <ion-card-title class="event-details__title">{{ eventDetails.name }}</ion-card-title>
        </ion-row>
        <ion-row align-items-center>
          <ion-thumbnail class="event-details__thumb">
            <ion-img [src]="eventDetails.image" alt="Image - {{eventDetails.name}}"></ion-img>
          </ion-thumbnail>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="event-details__card">
    <ion-card-content>
      <div class="event-details__icons">
        <a *ngIf="eventDetails.www_url" href="{{ eventDetails.www_url }}"><ion-icon name="globe" class="event-details__icon"></ion-icon></a>
        <a *ngIf="eventDetails.event_url" href="{{ eventDetails.event_url }}"><ion-icon name="calendar" class="event-details__icon"></ion-icon></a>
        <a *ngIf="eventDetails.fb_url" href="{{ eventDetails.fb_url }}"><ion-icon name="logo-facebook" class="event-details__icon"></ion-icon></a>

        <ion-button fill="clear" class="event-details__fav" (click)="addToFavourites(eventDetails.id)" *ngIf="!favouritesService.isFavourite(eventDetails.id)">
          <ion-icon name="star-outline" slot="icon-only" class="event-details__favicon"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="event-details__fav" (click)="removeFromFavourites(eventDetails.id)" *ngIf="favouritesService.isFavourite(eventDetails.id)">
          <ion-icon name="star" slot="icon-only" class="event-details__favicon"></ion-icon>
        </ion-button>
      </div>

      <h4 class="event-details__caption">Konwencja:</h4>
      <p>{{ eventDetails.event_type }}</p>

      <h4 class="event-details__caption">Data:</h4>
      <p *ngIf="eventDetails.date_end == eventDetails.date_begin; else date_end">{{ eventDetails.date_begin }}</p>
      <ng-template #date_end>
        <p>{{ eventDetails.date_begin | date: "dd.MM.y" }} - {{ eventDetails.date_end | date: "dd.MM.y"}}</p>
      </ng-template>

      <h4 class="event-details__caption">Adres:</h4>
      <p *ngIf="eventDetails.address==null; else full_address">{{ eventDetails.location }}</p>
      <ng-template #full_address>
        <p>{{ eventDetails.address }}, {{ eventDetails.location }}</p>
      </ng-template>

      <h4 class="event-details__caption">Cena:</h4>
      <p>{{ eventDetails.price }}</p>

      <h4 class="event-details__caption">Opis:</h4>
      <p>{{ eventDetails.description }}</p>

      <!--<h4 class="event-details__caption">Mapa:</h4>
      <div id="map" class="event-details__map"></div>-->

    </ion-card-content>
  </ion-card>
</ion-content>
