<ion-header no-border class="header">
  <ion-toolbar class="header__toolbar">
    <ion-title class="header__title">
      <ion-back-button defaultHref="/" class="header__back"></ion-back-button>
      <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="event-details">
  <ion-card class="event-details__header" class="ion-no-margin">
    <ion-card-content class="event-details__inner">
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-card-title class="event-details__title">{{ eventDetails.name }}</ion-card-title>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-thumbnail class="event-details__thumb">
            <ion-img [src]="eventDetails.image" alt="Image - {{eventDetails.name}}"></ion-img>
          </ion-thumbnail>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="event-details__card">
    <ion-card-content>
      <div class="event-details__icons">
        <a *ngIf="eventDetails.www_url" href="{{ eventDetails.www_url }}"><ion-icon name="globe" class="event-details__icon"></ion-icon></a>
        <a *ngIf="eventDetails.event_url" href="{{ eventDetails.event_url }}"><ion-icon name="calendar" class="event-details__icon"></ion-icon></a>
        <a *ngIf="eventDetails.fb_url" href="{{ eventDetails.fb_url }}"><ion-icon name="logo-facebook" class="event-details__icon"></ion-icon></a>

        <ion-button fill="clear" class="event-details__fav" (click)="addToFavourites(eventDetails.id)" *ngIf="!favouritesService.isFavourite(eventDetails.id)">
          <ion-icon name="star-outline" slot="icon-only" class="event-details__favicon"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="event-details__fav" (click)="removeFromFavourites(eventDetails.id)" *ngIf="favouritesService.isFavourite(eventDetails.id)">
          <ion-icon name="star" slot="icon-only" class="event-details__favicon"></ion-icon>
        </ion-button>
      </div>

      <h4 class="event-details__caption">Konwencja:</h4>
      <p>{{ eventDetails.event_type }}</p>

      <h4 class="event-details__caption">Data:</h4>
      <p *ngIf="eventDetails.date_end == eventDetails.date_begin; else date_end">{{ eventDetails.date_begin }}</p>
      <ng-template #date_end>
        <p>{{ eventDetails.date_begin | date: "dd.MM.y" }} - {{ eventDetails.date_end | date: "dd.MM.y"}}</p>
      </ng-template>

      <h4 class="event-details__caption">Adres:</h4>
      <a class="event-details__link" href="https://www.google.com/maps/search/?api=1&query={{ eventDetails.address }},{{ eventDetails.location }}">
        <ng-container *ngIf="eventDetails.address==null; else full_address">{{ eventDetails.location }} <ion-icon name="exit"></ion-icon></ng-container>
        <ng-template #full_address>
          <ng-container>{{ eventDetails.address }}, {{ eventDetails.location }} <ion-icon name="exit"></ion-icon></ng-container>
        </ng-template>
      </a>

      <ng-container *ngIf="eventDetails.price">
        <h4 class="event-details__caption">Cena:</h4>
        <div [outerHTML]="eventDetails.price"></div>
      </ng-container>

      <ng-container *ngIf="eventDetails.description">
        <h4 class="event-details__caption">Opis:</h4>
        <div [outerHTML]="eventDetails.description"></div>
      </ng-container>

      <h4 class="event-details__caption">Mapa:</h4>
      <a href="https://www.google.com/maps/search/?api=1&query={{ eventDetails.address }},{{ eventDetails.location }}">
        <ion-img src="https://maps.googleapis.com/maps/api/staticmap?center={{ eventDetails.address }},{{ eventDetails.location }}&zoom=18&size=600x600&maptype=roadmap&markers=color:purple%7C{{ eventDetails.address }},{{ eventDetails.location }}&key={{ apiKey }}"></ion-img>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
