.header {
  &__toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --background: #fff;
  }

  &__title {
    padding: 5px;
    background: var(--ion-color-primary);
  }
}

.event-details {
  &__header {
    border-radius: 0;
  }

  &__thumb {
    height: 60px;
    align-self: center;
    width: 100%;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
  }

  &__caption {
    margin-top: 10px;
    font-weight: 600;
  }
}
