.header {
  &__toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --background: #F6F5F7;
  }

  &__title {
    padding: 10px;
    background: var(--ion-color-primary);
  }

  &__logo {
    height: 40px;
    display: flex;
  }

  &__grid {
    --ion-grid-padding: 0
  }

  &__col {
    padding: 5px 0;
  }

  &__searchbar {
    --background: #f6f4f7;
    --padding-start: 0;
    --min-height: 50px;
  }

  &__item {
    width: 100%;
    --border-width: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    text-align: center;
    font-size: 14px;
  }
}

.filter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;

  &__arrow {
    width: 10px;
    height: 8px;
    position: absolute;
    z-index: 3;
    right: -3px;
    bottom: 17px;
    background: #F6F5F7;
  }

  &__label {
    width: 100%;
    --padding-start: 0;
    --padding-end: 0;

    font-weight: 600;
    font-size: 12px;

    &--fav {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__option {
    min-width: 100%;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;
    margin-right: -16px;

    font-size: 11px;
    font-style: italic;

    &--date {
      margin-right: 0;
      color: #000;
    }
  }

  &__fav {
    width: 100%;
    height: 26px;
    color: #000;

    &--saved {
      color: yellow;
    }
  }

  &__dots {
    display: flex;
    margin: 2px 0;
  }

  &__dot {
    height: 4px;
    width: 4px;
    background-color: #d7d7d7;
    border-radius: 50%;
    display: inline-flex;
    margin: 0 2px;
  }
}

.event-card {
  position: relative;

  &__fav {
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 10px;
    padding: 0;
    background: none;
    border: none;

    &:focus {
      border: none;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__inner {
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 5px;
    padding-inline-end: 5px;
    padding: 5px;
  }

  &__thumb {
    height: 90px;
    align-self: center;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  &__category, &__location {
    font-size: 12px;
    font-weight: 500;
  }

  &__date {
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans', serif;

    color: #000;
    position: absolute;
    bottom: -20px;
    right: 5px;
  }

  &__thumb, &__category, &__title, &__location {
    width: 100%;
  }
}

.select .item-native {
  flex-direction: column;
}
