:host {
  flex: 1;
}

.header {
  &__toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --background: var(--ion-color-light);
  }

  &__title {
    padding: 10px;
    background: var(--ion-color-primary);
  }

  &__logo {
    display: flex;
    height: 40px;
    margin: 0 auto;
  }

  &__grid {
    --ion-grid-padding: 0
  }

  &__col {
    padding: 5px 0 0;
  }

  &__searchbar {
    background: var(--ion-color-light);
    --background: var(--ion-color-light);
    --padding-start: 0;
    --min-height: 50px;
  }

  &__item {
    width: 100%;
    --border-width: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    text-align: center;
    font-size: 14px;
  }
}

.filter {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;

  &__label {
    flex: 1;
    --padding-start: 0;
    --padding-end: 0;

    font-family: "Khand", serif;
    font-weight: 600;
    font-size: 13px;

    &--fav {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__option {
    min-width: 100%;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;

    font-size: 11px;
    font-style: italic;

    &--date {
      margin-right: 0;
      color: #000;
    }
  }

  &__fav {
    width: 100%;
    height: 26px;
    color: #000;

    &--saved {
      color: yellow;
    }
  }

  &__dots {
    display: flex;
    margin: 4px 0;
  }

  &__dot {
    height: 4px;
    width: 4px;
    background-color: #d7d7d7;
    border-radius: 50%;
    display: inline-flex;
    margin: 0 2px;
  }
}

.event-card {
  display: flex;
  min-height: 126px;

  &__fav {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0 0 10px 10px
  }

  &__icon {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
  }

  &__card {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0;
  }

  &__inner {
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
    padding: 10px
  }

  &__thumb {
    height: 96px;
    align-self: center;
  }

  &__title {
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__category, &__location {
    font-size: 12px;
    font-weight: 500;
  }

  &__date {
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans', serif;

    color: #000;
    position: absolute;
    bottom: -25px;
  }

  &__thumb, &__category, &__title, &__location {
    width: 100%;
  }
}

.select .item-native {
  flex-direction: column;
}
