<ion-header no-border class="header">

  <ion-toolbar class="header__toolbar">

    <ion-title class="header__title">
      <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
    </ion-title>

    <ion-grid class="header__grid">
      <ion-row>
        <ion-col size="3" class="header__col">
          <ion-item class="header__item" lines="none">
            <div class="filter">
              <ion-label class="filter__label">Kategoria:</ion-label>
              <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="categoryFilter">
                <ion-select-option value="" selected>Wszystkie</ion-select-option>
                <ion-select-option *ngFor="let category of categories" value="{{ category }}">{{ category }}</ion-select-option>
              </ion-select>
              <div class="filter__dots">
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
              </div>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="3" class="header__col">
          <ion-item class="header__item" lines="none">
            <div class="filter">
              <ion-label class="filter__label">Miasto:</ion-label>
              <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="locationFilter">
                <ion-select-option value="" selected>Wszystkie</ion-select-option>
                <ion-select-option *ngFor="let location of locations" value="{{ location }}">{{ location }}</ion-select-option>
              </ion-select>
              <div class="filter__dots">
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
              </div>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="3" class="header__col">
          <ion-item class="header__item" lines="none">
            <div class="filter">
              <ion-label class="filter__label">Data:</ion-label>
              <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="dateFilter">
                <ion-select-option value="" selected>Nadchodzące</ion-select-option>
                <ion-select-option *ngFor="let date of dates" value="{{ date }}">{{ date }}</ion-select-option>
              </ion-select>
              <div class="filter__dots">
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
                <span class="filter__dot"></span>
              </div>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="3" class="header__col">
          <ion-item class="header__item" lines="none">
            <div class="filter">
              <div class="filter__label filter__label--fav">Ulubione:</div>
              <ion-icon name="star-outline" class="filter__fav" *ngIf="!favouritesService.favouritesEventsOnly" (click)="favouritesFilter()"></ion-icon>
              <ion-icon name="star" class="filter__fav" *ngIf="favouritesService.favouritesEventsOnly" (click)="favouritesFilter()"></ion-icon>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-searchbar placeholder="Szukaj..." class="header__searchbar" [formControl]="searchField"></ion-searchbar>

</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="filteredEvents" approxItemHeight="120px">

  <div class="event-card" *virtualItem="let event">

    <ion-button fill="clear" class="event-card__fav" (click)="addToFavourites(event.id)" *ngIf="!favouritesService.isFavourite(event.id)" >
      <ion-icon name="star-outline" slot="icon-only" class="event-card__icon"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="event-card__fav" (click)="removeFromFavourites(event.id)" *ngIf="favouritesService.isFavourite(event.id)">
      <ion-icon name="star" slot="icon-only" class="event-card__icon"></ion-icon>
    </ion-button>

    <ion-card [routerLink]="['/event-details', event.id]" class="event-card__card">

      <ion-card-content class="event-card__inner">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col size="5">
              <ion-thumbnail class="event-card__thumb">
                <ion-img [src]="event.image" alt="Image - {{ event.name}}"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <ion-col size="7" class="event-card__description ion-no-padding">
              <ion-row class="ion-text-center">
                <h2 class="event-card__title">{{ (event.name) }}</h2>
              </ion-row>
              <ion-row class="ion-text-center">
                <h4 class="event-card__category">{{ event.event_type }}</h4>
              </ion-row>
              <ion-row class="ion-text-center">
                <h3 class="event-card__location">{{ event.location }}</h3>
              </ion-row>
              <ion-row class="ion-justify-content-end">
                <time class="event-card__date" *ngIf="event.date_end <= event.date_begin">{{ event.date_begin | date: "dd.MM.y" }}</time>
                <time class="event-card__date" *ngIf="event.date_end > event.date_begin">{{ event.date_begin | date: "dd.MM" }} - {{ event.date_end | date: "dd.MM.y" }}</time>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  </ion-virtual-scroll>
</ion-content>
