@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('assets/fonts/opensans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold-italic;
  font-weight: 700;
  src: url('assets/fonts/opensans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/khand/Khand-Regular.ttf');
}

@font-face {
  font-family: 'Khand';
  font-style: semi-bold;
  font-weight: 600;
  src: url('assets/fonts/khand/Khand-SemiBold.ttf');
}

@font-face {
  font-family: 'Khand';
  font-style: bold;
  font-weight: 700;
  src: url('assets/fonts/khand/Khand-Bold.ttf');
}
