// For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** fonts **/
  --ion-font-family: 'Open Sans', serif;
  --ion-text-color: #000;

  /** primary **/
  --ion-color-primary: #6C5477;
  --ion-color-primary-rgb: 108, 84, 119;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f4a69;
  --ion-color-primary-tint: #7b6585;

  /** secondary **/
  --ion-color-secondary: #B3ABB6;
  --ion-color-secondary-rgb: 179, 171, 182;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #9e96a0;
  --ion-color-secondary-tint: #bbb3bd;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  /** light **/
  --ion-color-light: #F6F5F7;
  --ion-color-light-rgb: 246, 245, 247;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d9;
  --ion-color-light-tint: #f7f6f8;


  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-background-color: var(--ion-color-secondary);
  --ion-item-background: var(--ion-color-light);
}
