// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'theme/base';
@import 'theme/fonts.scss';

ion-app .nav-decor {
  background-color: transparent !important;
}
