
ion-toolbar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --background: #fff;

  ion-grid {
    --ion-grid-padding: 0
  }
}

ion-title {
  padding: 5px;
  background: #6C5477;
}

ion-item {
  --border-width: 0;

  width: 100%;

  text-align: center;
  font-size: 14px;


  --padding-start: 0;

  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;

}

.filter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.custom-placeholder {
  color: red;
  opacity: 1;
}

.filter-label {
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;

  font-weight: 600;
  font-size: 12px;
}

.filter-label--date {
  position: relative;
  top: -2px;
}


ion-searchbar {
  --background: #f6f4f7;
  --padding-start: 0;
  --min-height: 50px;

}

.searchbar-input {

}

ion-select, ion-datetime {
  min-width: 100%;
  --padding-top: 0;
  --padding-bottom: 0;

  font-size: 11px;
}

ion-datetime {
  --padding-start: 0;
}

.hide-arrow {
  width: 10px;
  height: 8px;
  position: absolute;
  background: white;
  z-index: 3;
  right: 4px;
  bottom: 11px;
}

.event-thumb {
  width: 100%;
  height: 60px;
  align-self: center;
}

.event-title {
  font-size: 14px;
  font-weight: 600;
}

.event-category {
  font-size: 11px;
  font-weight: 500;
}

.event-location {
  font-size: 12px;
  font-weight: 500;
}

.event-date {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Khand', serif;
}

.event-category, .event-title, .event-location {
  width: 100%;
}

.card-content-md {
  -webkit-padding-start: 5px;
  padding-inline-start: 5px;
  -webkit-padding-end: 5px;
  padding-inline-end: 5px;
  padding: 0 5px 0 5px;
}

.date {
  font-size: 12px;
}


.select .item-native {
  flex-direction: column;
}

