<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <img alt="Konwenty Południowe" height="40" src="assets/logo.png" >
    </ion-title>
    <ion-grid>
      <ion-row>

        <ion-col size="4">
          <ion-item>
            <div class="filter-wrapper">
              <ion-label class="filter-label">Kategoria:</ion-label>
              <div class="hide-arrow"></div>
              <ion-select ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="categoryFilter">
                <ion-select-option value="" selected>Wszystkie</ion-select-option>
                <ion-select-option *ngFor="let category of categories" value="{{ category }}">{{ category }}</ion-select-option>
              </ion-select>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <div class="filter-wrapper">
              <ion-label class="filter-label">Miasto:</ion-label>
              <div class="hide-arrow"></div>
              <ion-select ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="locationFilter">
                <ion-select-option value="" selected>Wszystkie</ion-select-option>
                <ion-select-option *ngFor="let location of locations" value="{{ location }}">{{ location }}</ion-select-option>
              </ion-select>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <div class="filter-wrapper">
              <ion-label class="filter-label filter-label--date">Okres:</ion-label>
              <ion-datetime value="2019-06" display-format="YYYY-MM" [pickerOptions]="customPickerOptions" [formControl]="dateFilter" ></ion-datetime>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
  <ion-searchbar placeholder="Szukaj..." [formControl]="searchField"></ion-searchbar>
</ion-header>

<ion-content>

<!--  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
  </div>-->

  <ion-card *ngFor="let item of items">
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="5">
            <ion-thumbnail class="event-thumb">
              <img src="{{ item.image }}">
            </ion-thumbnail>
          </ion-col>
          <ion-col no-padding>
            <ion-row text-center>
              <h2 class="event-title">{{ item.name }}</h2>
            </ion-row>
            <ion-row text-center>
              <h4 class="event-category">{{ item.event_type }}</h4>
            </ion-row>
            <ion-row text-center>
              <h3 class="event-location">{{ item.location }}</h3>
            </ion-row>
            <ion-row justify-content-end>
              <time datetime="2017-02-14" class="event-date">{{ item.date_begin }}</time>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
